body {
  display: grid;
  grid-template-areas:
    "none header none"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }
footer, article, div {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  padding: 1.2em;
  background: black;
  color: white;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle {
  grid-area: article;
  }
#mainNav {
  grid-area: nav;
  }
#siteAds {
  grid-area: ads;
  }

nav {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  padding: 1.2em;
  background-color: black;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  padding: 1.2em;
  color: white;
  background-image: url("/resources/headerbanner.png");
}

a:hover {
 color: orangered;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
}
