body {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium';
  background-color: black;
}

.stats{
color: rgb(72, 72, 124);
text-decoration: darkred;
border: orangered;
border-width: 1px;
border-style: groove;
}

h3 {
  color: orangered;
  font-weight: bold;
  font-style: italic;
}



